.main-content{
    padding-top: 65px;
}
.col-sm-9 .select2{
    width: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 12px !important;
}
.left-sidebar{
    position: fixed !important;
}
.topbar{
    position: fixed !important;
    width: 100% !important;
    z-index: 1001!important;
}
#main-wrapper .left-sidebar[data-sidebarbg=skin5], #main-wrapper .left-sidebar[data-sidebarbg=skin5] ul{
    background-color: #2c3e50 !important;
}
.sidebar-nav ul .sidebar-item.selected>.sidebar-link{
    background: linear-gradient(to right, #5772FE , #2196F3) !important;
}
.sidebar-nav ul .sidebar-item .sidebar-link{
    opacity: .8;
}
#navbarSupportedContent{
    background-color: #34495e !important;
}
#main-wrapper .topbar .top-navbar .navbar-header[data-logobg=skin5]{
    background: #2c3e50;
    border-bottom: 2px solid rgba(0,0,0,.1);
}
.sidebar-item a:hover{
    transition: .2s all;
    background: linear-gradient(to right, #5772FE , #2196F3);
}
.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link{
    background: rgba(0, 0, 0, .3);
}
.topbar .top-navbar .navbar-header .navbar-brand .logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}
.navbar-brand .logo-text{
    margin-left: 2px;
}
.btn.btn-primary{
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}
.action-table{
    display: flex;
    flex-wrap: nowrap;
}
.action-table a{
    margin: 0 1.5px;
}
div.dataTables_wrapper div.dataTables_filter input{
    border: 1px solid #888;
    border-radius: 2px;
}
.input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple])
{
    border: 1px solid #888;
    border-radius: 2px;
}
.swal-button {
    background-color: #2ab7a9;
    border: 1px solid #CCC;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button:not([disabled]):hover{
    background-color: #2CC3B4;
}
.modal-dialog{
    margin-top: 100px !important;
    max-width: 1000px;
    height: 850px;
}
.modal-content{
    height: 100%;
}
.modal-body{
    height: 100%;
    padding: 7px;
}
.modal-dialog.confirm{
    height: auto;
    padding: 0 250px;
}
.modal-dialog.confirm .modal-body{
    padding: 15px;
}
.tab-pane.p-20{
    padding: 0 !important;
}
.btn{
    border: none;
}
.btn.btn-primary{
    background-color: #1e88e5;
    border: none;
}
.btn.btn-secondary{
    background-color: #424242;
}
.btn.btn-danger{
    background-color: #d32f2f;
}
.btn.btn-success{
    background-color: #388e3c;
}
@media screen and (max-width: 678px)
{
    .left-sidebar{
        position: absolute !important;
    }
    .topbar{
        position: relative !important;
    }
    .main-content{
        padding: 0;
    }
}